/* Specification */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    scroll-behavior: smooth;

    color: #372E46;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

section {
    margin-top: 200px;
}

/* Header */

.header-section {
    padding: 45px 0;

    background-color: #FF6200;
}

.menu_wrapper {
    display: flex;

    align-items: center;
}

.header-logo {
    width: 188px;
    height: 33px;
    margin-right: 95px;

    background: no-repeat url('/img/logo.png') center;
}

.menu-list {
    display: flex;
    gap: 60px;
    margin-right: 258px;
}

/* Offer section */

.offer-section {
    margin-top: 62px;
}

.offer-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offer-text-wrapper {
    width: 490px;
}

.offer-text {
    margin: 32px 0 42px 0;
    width: 445px;

    font-size: 20px;
}

.offer-text>b {
    font-weight: 600;
}

.offer-btn {
    padding: 20px 40px;
    border: none;
    border-radius: 20px;

    font-weight: 700;
    font-size: 20px;

    background: linear-gradient(133deg, #FFD705 0%, #FFD0F0 100%);
    color: white;
}

/* Text section */

.title-wrapper {
    position: relative;
    margin-bottom: 76px;

    text-align: center;
}

.line {
    position: absolute;
    top: 45px;
    left: 50%;
}

.left-block {
    width: 495px;
}

.right-block {
    width: 546px;
}

.text-block-wrapper {
    display: flex;
    justify-content: space-between;
}

.block-title {
    margin-bottom: 17px;
}

.bracket {
    color: #FF6200;
}

/* List section */

.left_line {
    left: 48%;
}

.list-section-wrapper {
    display: flex;
    justify-content: space-between;
}

.text-list {
    width: 337px;
}

.list-item {
    margin-bottom: 34px;
}

.item-title {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
}

.item-title>span {
    margin-right: 15px;

    font-size: 30px;

    color: #FF6200;
}

.item-text {
    padding-left: 33px;
}

.img-list {
    width: 451px;
    height: 231px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    &>img {
        width: 168px;
        height: 95px;
    }
}

/* Footer */

.footer-section {
    display: flex;
    padding: 29px 0;
    margin-top: 200px;

    font-size: 12px;

    background: #372E46;
}

.footer-menu-list {
    width: 246px;
    height: 38px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 7px;
    margin-right: 374px;
}

.footer-contacts {
    text-align: right;
}

.footer-phone {
    margin-bottom: 7px;
}

.footer-logo{
    margin-right: 190px;
}